form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border: 0;
  border-bottom: 2px solid #a99e7e;
  background: transparent;
  color: #c3c3c3;
  font-size: 1.2em;
  line-height: 1.5em;
  margin-bottom: 20px;
  width: 300px;
}

input::placeholder {
  color: #a99e7e;
}

button {
  color: #c5b584;
  background-color: transparent;
  border: 2px solid #c5b584;
  padding: 10px 50px;
  width: 150px;
  font-weight: bold;
}

button:hover {
  background-color: #a99e7e;
  color: white;
  font-weight: bold;
  cursor: grab;
}
